body {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.icon {
    transition: transform 0.3s;
}

.active .icon {
    transform: rotate(180deg);
}

.section {
    width: 100%;
}

.section-item {
    margin: 10px 0;
    border: 1px solid var(--cor-hover-links);
    border-radius: 8px;
    overflow: hidden;
}

.section-header {
    padding: 12px 15px;
    font-size: 1.1em;
    color: var(--cor-hover-links);
    background: var(--cor-fundo-titulo-section);
}

.section-content {
    padding: 15px;
    text-align: left;
    background: var(--cor-fundo-section);
}

@media (max-width: 1024px) and (min-width: 370px) {
    .accordion {
        margin: 2rem 0;
    }

}