body {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.accordion {
    width: 100%;
    margin: 10rem;
    background: #D8BFD8;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #412237;
}

.accordion-header {
    background: #562546;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s;
}

.accordion-header:hover {
    background: #412237;
}

.accordion-content {
    display: none;
    padding: 15px;
    background: #f1f1f1;
    color: #562546;
    font-size: 16px;
    line-height: 1.5;
}

.icon {
    transition: transform 0.3s;
}

.active .icon {
    transform: rotate(180deg);
}




@media (max-width: 1024px) and (min-width: 370px) {
.accordion {
    margin: 2rem 0;
}

}