body {
    color: var(--cor-fonte-principal);
    background-image: var(--cor-fundo);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a:link,
a:visited {
    font-size: 1.5rem;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    color: var(--cor-texto-blog);
}

.container-blog {
    margin: 10rem;
    text-align: justify;
}

.blog-section {
    margin: 40px auto 0 auto;
    padding: 2.0rem;
    max-width: 50rem;
    text-align: center;

}

.blog-post {
    background: var(--cor-fundo-button);
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform 0.3s;
    display: block;
    text-decoration: none;
    color: #D8BFD8;
}

.blog-post:hover {
    transform: scale(1.02);
    color: var(--cor-hover-links);
}

@media (max-width: 1024px) and (min-width: 370px) {
    body {
        margin: 0.01rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .container-blog {
        margin: 3rem;
    }

    pre,
    .imgPipeline {
        overflow: auto;
        white-space: pre;
    }
}